.footer{

  text-align:center  !important;
  padding:1px 2px  !important;
  color:white !important;
  background-color:#2c3e50 !important;
  font-size: 3.5vw  !important;
  display: flex;
  justify-content: center;

}
.footer p{
  margin: 4% 0 !important;
}
.logo{
  display: inline;
  height: 0%;
  width:14%;
  margin:-1% 0 -2% 0;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .footer{
      font-size: 1.75vw  !important;
    }
    .footer p{
        margin:2%  !important;
    }
    .logo{
      height: 0%;
      width:8.5%;
    }

}
