.donutWrapper {
width:100%;
height:100%;
margin-left:0%;
display:grid;
align-content:center;
}

.donutName {
font-size:18px;
margin-top:-15px;
margin-bottom:0;
text-align:center;
white-space:nowrap;
}

@media only screen and (min-width: 768px) {
  .donutName {
    font-size: 1.3vw;
  }
}