.flexContainer{
  background-color:#566472 !important;
  padding:1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 700px;
}
.timeQuadrant{
  color:#fff;
  text-overflow: unset;
  width:106% !important;
  margin:0 auto;
  font-size:13px !important;

}
.timeQuadrant1{
  color:#fff;
  text-overflow: unset;
  width:100% !important;
  margin:0 auto;
  font-size:14px !important;
}
.timeQuadrant div div:first-child div{
  text-overflow: unset !important;
}
.title{
  /* text-overflow: unset !important; */
}
.datePicker{
  position: relative;
  margin-top: -2.7%;
  display: inline-block;
}
.datePicker div{
  width: 80px !important;
}
.dateSection{
  width:100%;
  text-align: center;
  margin: -2.5% auto -1% auto;
}
.datePicker div label{
  position: absolute;
  line-height: 0px !important;
  top: 52px !important;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  transform: scale(1) translate(0px, 0px);
  transform-origin: left top 0px;
  pointer-events: none;
  user-select: none;
  color: rgba(255, 255, 255, 0.48) !important;
  font-size: 13px !important;
}
.datePicker div input{
  padding: 0px;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255) !important;
  cursor: inherit;
  font: inherit;
  font-size: 14px !important;
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  box-sizing: border-box;
  margin-top: 14px;
}
.date{
  margin: 0.5% 1.5%;
  color: white;
  width: 100%;
  text-align: right;
}
.btn{
  display: inline-block;
  margin: -0.5% 0% 0px 10% !important;
  font-size: 10px !important;
  min-height: 30px !important;
}
.dateBanner{
  width: 46%;
  margin: 0 -12% 0 3%;
  display: inline-block;
  position: relative;
}
.dateBanner button{
  margin: 2px -18px 0 0 !important;
}
.cardHalf{
  margin:1%;
  width:98%;
  height: 100% !important;
  text-align: center;
  background-color: #415161 !important;
  cursor: pointer;
  display: inline-block;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .flexContainer{


    }
    .btn{
      display: inline-block;
      margin: -0.5% 0% 0px 2% !important;
      font-size: 10px !important;
      min-height: 30px !important;
    }
    .datePicker div input{
      font-size: 14px !important;
    }
    .dateSection{
      margin: -5% auto -1% auto;
    }
    .timeQuadrant{
      color:#fff;
      text-overflow: unset;
      width:100% !important;
      margin:0 0 0 -44%;
      font-size:14px !important;
    }
    .timeQuadrant1{
      color:#fff;
      text-overflow: unset;
      width:100% !important;
      margin:0 0 0 -44%;
      font-size:14px !important;
    }
}
