.arrow {
font-size: 32px;
color: #32f732;
position: relative;
bottom: 2px;
text-shadow: 0px -1px 8px #1ab124;
}
    
.score {
font-size: 30px;
padding: 0 10px;
}
    
.subCatName {
margin-top:0;
font-size:18px;
text-align:center;
color:#00bbff;
}

@media only screen and (min-width: 768px){
    .arrow {
        font-size: 2.3vw;
    }
            
    .score {
        font-size: 2.1vw;
    }
            
    .subCatName {
        font-size:1.25vw;
    }
}